.Footer {
    background-color: #1F1F25;
    color: white;
    padding: 40px 60px;
    margin: 0;
}

.Footer a {
    color: white;
    text-decoration: none;
}

.Footer .links:hover {
    color: #F88A24;
}

.logo {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 40px;
}

.shop {
    background-color: #1F1F25;
    color: #fff;
    border: 0;
    padding: 0;
}

.shop:hover {
    background-color: #1F1F25;
    color: #F88A24;
}

/* .dropdown {
    background-color: #1F1F25;
    color: #ffffff;
} */

.links {
    border: 0;
    padding: 0;
    background-color: #1F1F25;
    color: #ffffff;
    display: block;
}

.socials {
    font-size: 24px;
    margin-right: 5px;
}

@media screen and (max-width: 780px) {
    .Footer {
        padding: 40px 30px;
    }

    .logo {
        padding: 0 0 20px 0;
    }

    .followUs, .navigation, .account {
        padding: 10px 0;
    }
}