.logo {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 32px;
}

span {
    text-decoration: none;
}

.Nav1 {
    background-color: #1F1F25;
    color: white;
    width: 100%;
}

.Nav1 a {
    color: white;
}

.Nav1 a:hover {
    color: #F88A24;
}

.Nav1 .icons:hover {
    color: #F88A24;
}

.Nav2 {
    color: #1F1F25;
    background-color: white;
    padding: 15px 36px;
    margin: 0 0 10px 0;
    box-shadow: 1px 2px 6px #323235c7;
}

.navbar-collapse {
    justify-content: flex-end;
}

.searchbtn {
    background-color: #1F1F25;
    color: #F88A24;
}

.s {
    border-radius: 50px;
}

.Nav2 .input-group {
    width: 40% !important;
}