.logo {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 32px;
    padding: 0;
}

span {
    text-decoration: none;
}

.Nav1 {
    background-color: #1F1F25;
    color: white;
    width: 100%;
}

.Nav1 a {
    color: white;
}

.Nav1 a:hover {
    color: #F88A24;
}

.Nav1 .icons {
    color: #ffffff;
}

.Nav1 .icons:hover {
    color: #F88A24;
}

.navbar-nav {
    flex-direction: row;
    gap: 10px;
}

.searchbtn {
    background-color: #F88A24;
    color: #1F1F25;
    border: 0;
}

.searchbtn:hover {
    color: #ffffff;
    background-color: #F88A24;
    font-size: 18px;
}

.searchbtn2 {
    background-color: #1F1F25;
    color: #F88A24;
    border: 0;
}

.searchbtns:hover {
    background-color: #F88A24;
    color: #1F1F25;
}

.s {
    border-radius: 50px;
}



/* Nav2 display */
.Nav2 {
    color: #1F1F25;
    background-color: white;
    padding: 15px 36px;
    margin: 0 0 10px 0;
    box-shadow: 1px 2px 6px #323235c7;
    display: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.Nav1 .input-group {
    max-width: 40%;
}

.Nav2 .input-group {
    width: 100% !important;
}

@media screen and (max-width: 680px) {
    .logo {
        font-size: 32px !important;
        padding: 0 !important;
    }

    .Nav2 {
        display: block;
        padding: 15px 25px;
    }

    .Nav1 .input-group {
        display: none;
    }
}