.logo {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 32px;
    padding: 0;
}

.smSearch .SearchBar{
    width: 100%;
}

.smSearch {
    background-color: white;
    width: 100%;
    margin: 10px;
}

span {
    text-decoration: none;
}

.NavMobile {
    background-color: #1F1F25;
    color: white;
    width: 100%;
}

.NavMobile a {
    color: white;
}

.NavMobile a:hover {
    color: #F88A24;
}

.NavMobile .icons {
    color: #ffffff;
}

.NavMobile .icons:hover {
    color: #F88A24;
}

.navbar-nav {
    flex-direction: row;
    gap: 10px;
}

.count_icon {
    position: relative;
}

.count_icon span{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50%;
    background-color: #ff0000;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    color: white;
    z-index: 1;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* .Nav1 .input-group {
    max-width: 40%;
} */


@media screen and (max-width: 480px) {
    /* sidebar */
    .col-4 {
        display: none;
    }

    .bar {
        display: block;
    }    
}