.card {
    cursor: pointer;
}
.card-img-top {
    padding: 6px;
    width: 100%;
    height: 15vh;
    object-fit: contain;
}

.title{
    font-size: 0.7rem;
    height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    margin-bottom: 0;
}

.price {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.rating {
    margin-bottom: 3px;
}

.rating span, .star {
    font-size: 10px;
}

.star {
    color: #F88A24;
}

.add-row {
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.add_to_cart, .add_to_favourite {
    /* width: 100%; */
    background: #F88A24;
    color: white;
    border: 0;
    border-radius: 5px;
}

.add_to_cart {
    font-size: 0.9rem !important;
    height: 26px;
}

.add_to_cart:hover, .add_to_favourite:hover {
    background: #1F1F25;
    color: #F88A24;
}

.added_to_cart:hover {
    background: #f88b249c;
}

.heart-icon {
    font-size: 13px;
}

.cart-icon {
    padding-right: 6px;
}

/* #1F1F25 */

@media screen and (max-width: 450px) {
    .add_to_cart {
        font-size: 12px;
    }
    .card-body {
        padding: 8px;
    }
}