
/* SearchBar display */
/* .SearchBar {
    color: #1F1F25;
    background-color: white;
    padding: 15px 36px;
    margin: 0 0 10px 0;
    box-shadow: 1px 2px 6px #323235c7;
    display: none;
}*/

.searchbtn {
    background-color: #F88A24;
    color: #1F1F25; 
    border: 0;
}

.searchbtn:hover {
    color: #ffffff;
    background-color: #F88A24;
    font-size: 18px;
}

.searchbtn2 {
    background-color: #1F1F25;
    color: #F88A24;
    border: 0;
}

.searchbtns:hover {
    background-color: #F88A24;
    color: #1F1F25;
}

.SearhBar .input-group {
    max-width: 80% !important;
}

.s {
    border-radius: 50px;
}

@media screen and (max-width: 680px) {
    .logo {
        font-size: 32px !important;
        padding: 0 !important;
    }

    .SearhBar {
        display: block;
        padding: 15px 25px;
    }
}