.sidebar {
    position: sticky;
    left: 0;
    top: 0;
    padding: 10px;
    box-shadow: 1px 2px 6px #323235c7;
    background-color: white;
    color: black;
    font-size: 12px;
    /* background-color: #1F1F25; */
    /* color: #1F1F25; */
    /* color: #F88A24; */
}

.gender label, .gender input, .Price label, .Price input {
    cursor: pointer;
}

.gender {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    cursor: pointer;
}

.gender .check {
    flex: 40%;
}

.form-check-input:checked {
    background-color: #1F1F25;
    border-color: #1F1F25;
}

input[type='checkbox'] {
    border: 1px solid #1F1F25;
}

.category_btn {
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: row;
    border: 0;
    align-items: center;
}

/* .check {
    border: 1px solid #1F1F25;
} */

.category_btn:hover, .check:hover, .check:active {
    background-color: transparent;
    color: #F88A24;
}

.sidebar .btn {
    background-color: transparent;
}

.category p {
    margin: 0;
    padding-left: 5px;
}

.category p:hover {
    color: #F88A24;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 62px;
        z-index: 100;
        /* overflow: scroll; */
        font-size: 10px;
        /* background-color: #1F1F25; */
        /* color: #1F1F25; */
        /* color: #F88A24; */
    }
    .category p {
        font-size: 10px;
    }

    .sidebar h4 {
        font-size: 14px;
    }
    
}